<div class="bg-gray-200 mt-4 md:mx-80 md:mt-10 px-4 py-6 shadow-lg drop-shadow-lg " data-aos="fade-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="1000"
data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-center">
    <p class="text-center text-2xl font-semibold">{{blogDetails.firstName}} Blog Details</p>
    <div class="flex items-center text-center mt-4 px-8">
        <div><p class="text-xl font-semibold">Name:</p></div>
        <div class="px-4"><p class="text-xl">{{blogDetails.title}} {{blogDetails.firstName}} {{blogDetails.lastName}}</p></div>
    </div>

    <div class="flex items-center text-center mt-4 px-8">
        <div><p class="text-xl font-semibold">Phone:</p></div>
        <div class="px-4"><p> {{blogDetails.phone}}</p></div>
    </div>
    <div class="flex items-center text-center mt-4 px-8">
        <div><p class="text-xl font-semibold">Gender:</p></div>
        <div class="px-4"><p>{{blogDetails.gender}}</p></div>
    </div>
    <div class="flex items-center text-center mt-4 px-8">
        <div><p class="text-xl font-semibold">Email:</p></div>
        <div class="px-4"><p>{{blogDetails.email}}</p></div>
    </div>
    <div class="flex items-center text-center mt-4 px-8">
        <div><p class="text-xl font-semibold">Date of Birth:</p></div>
        <div class="px-4"><p>{{blogDetails.dateOfBirth  | date:'medium'}}</p></div>
    </div>
</div>